<h1>Friend's List Goes Here!</h1>

<% friends.forEach(function(friend){ %>
  <li><%= friend %></li>
<% }); %>

<!-- all form data is put in the request body -->
<form action="/addFriend" method="POST">
  <input type="text" name="newFriend" placeholder="name">
  <button>I made a new friend!</button>
</form>